.root {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.brandText {
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: var(--standard-font);
}

@media (max-width: 800px) {
    .brandText {
        font-size: 14px;
    }
}